<div class="flex-column align-items-center justify-content-center my-4 me-5">
  <form class="card d-flex flex-column p-3 py-4" [formGroup]="userForm">
    <div class="form-floating m-2">
      <input class="form-control" id="username" type="text" formControlName="username" [disabled]="!addEnable && !editEnable">
      <label class="form-label" for="username">Username</label>
    </div>
    <div class="form-floating m-2">
      <input class="form-control" id="email" type="text" formControlName="email" [disabled]="!addEnable && !editEnable">
      <label class="form-label" for="email">Email</label>
    </div>
    <div class="form-floating m-2">
      <input class="form-control" id="password" type="text" formControlName="password" [disabled]="!addEnable && !editEnable">
      <label class="form-label" for="password">Password</label>
    </div>
    <div class="form-floating m-2">
      <input class="form-control" id="role" type="text" formControlName="role" [disabled]="!addEnable && !editEnable">
      <label class="form-label" for="role">Role</label>
    </div>
    <div class="form-floating m-2">
      <input class="form-control" id="firstName" type="text" formControlName="firstName" [disabled]="!addEnable && !editEnable">
      <label class="form-label" for="firstName">First Name</label>
    </div>
    <div class="form-floating m-2">
      <input class="form-control" id="lastName" type="text" formControlName="lastName" [disabled]="!addEnable && !editEnable">
      <label class="form-label" for="lastName">Last Name</label>
    </div>

    <div *ngIf="!addEnable && !editEnable" class="flex-column flex-row">
      <button (click)="onSelectModel('edit')" type="button" class="btn btn-success m-2">Edit</button>
      <button (click)="onSelectModel('add'); clearForm()" type="button" class="btn btn-primary m-2">Add</button>
    </div>

    <div *ngIf="editEnable && !addEnable" class="flex-column flex-row">
      <button type="button" class="btn btn-success m-2" (click)="onUpdate()">Update</button>
      <button type="button" class="btn btn-primary m-2" (click)="clearForm()">Clear</button>
      <button type="button" class="btn btn-danger m-2" (click)="onCancel()">Cancel</button>
    </div>

    <div *ngIf="addEnable && !editEnable" class="flex-column flex-row">
      <button type="button" class="btn btn-success m-2" (click)="onSave()">Save</button>
      <button type="button" class="btn btn-primary m-2" (click)="clearForm()">Clear</button>
      <button type="button" class="btn btn-danger m-2" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>
